<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сайт рецептов</title>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">

    <!-- Здесь добавляйте стили и скрипты -->
</head>
<body>
    <header>
        <a href="{% url 'home' %}">
            <img src="/static/images/logo.svg" alt="Логотип сайта" style="height: 50px;">
        </a>
        <a href="{% url 'home' %}">На главную</a> |
        {% if user.is_authenticated %}
            Привет, {{ user.username }}!
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Войти</a> | <a href="{% url 'signup' %}">Регистрация</a>
        {% endif %}
        | <a href="{% url 'add_recipe' %}">Добавить рецепт</a>
    </header>
    <hr>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>




